alexa.json
[{"id":"532549a7d45565e6","type":"group","z":"90b2febe85f398dd","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e0e4f78ba1940ee3","5ddc8e50d77aac0d","ecad060e19637ad1","61696e955ddc8bc8","5633c885f89cc40a","89adc5ae496c14e2","0fc6f299db8af0b9","95acbbb4f7f18fad","012242370a60f20e","a6a897da9465a51d","6b6519995b142a97"],"x":134,"y":119,"w":992,"h":282},{"id":"e0e4f78ba1940ee3","type":"function","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"","func":" msg.payload=\"refresh\";\n return msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[["5ddc8e50d77aac0d"]]},{"id":"5ddc8e50d77aac0d","type":"alexa-remote-init","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"","account":"8329a3a6d8028ea2","option":"initialise","x":480,"y":220,"wires":[["ecad060e19637ad1"]]},{"id":"ecad060e19637ad1","type":"change","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.csrf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[["61696e955ddc8bc8"]]},{"id":"61696e955ddc8bc8","type":"function","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"","func":"async function delay(timeMs) {\n  await new Promise(resolve => setTimeout(resolve, timeMs));\n} \nvar newInit = msg.payload;\nvar oldInit = flow.get(\"alexa\");\nif (newInit != oldInit)\n{\n  flow.set(\"alexa\", newInit); \n  await delay(20000);  \n return msg;\n}\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":220,"wires":[["95acbbb4f7f18fad"]]},{"id":"5633c885f89cc40a","type":"alexa-remote-other","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"","account":"8329a3a6d8028ea2","config":{"option":"checkAuthentication"},"x":620,"y":360,"wires":[[]]},{"id":"89adc5ae496c14e2","type":"delay","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"3","randomUnits":"seconds","drop":false,"outputs":1,"x":420,"y":360,"wires":[["5633c885f89cc40a"]]},{"id":"0fc6f299db8af0b9","type":"inject","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":360,"wires":[["89adc5ae496c14e2"]]},{"id":"95acbbb4f7f18fad","type":"alexa-remote-init","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"","account":"8329a3a6d8028ea2","option":"refresh","x":1020,"y":220,"wires":[[]]},{"id":"012242370a60f20e","type":"inject","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":250,"y":220,"wires":[["5ddc8e50d77aac0d"]]},{"id":"a6a897da9465a51d","type":"inject","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"Alla Mezzanotte","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":160,"wires":[["5ddc8e50d77aac0d"]]},{"id":"6b6519995b142a97","type":"catch","z":"90b2febe85f398dd","g":"532549a7d45565e6","name":"","scope":["5633c885f89cc40a"],"uncaught":false,"x":390,"y":280,"wires":[["e0e4f78ba1940ee3"]]},{"id":"8329a3a6d8028ea2","type":"alexa-remote-account","name":"Andrea","authMethod":"proxy","proxyOwnIp":"192.168.1.6","proxyPort":"3456","cookieFile":"/config/amazon.txt","refreshInterval":"3","alexaServiceHost":"alexa.amazon.it","pushDispatchHost":"","amazonPage":"amazon.it","acceptLanguage":"it-IT","onKeywordInLanguage":"","userAgent":"","usePushConnection":"on","autoInit":"on","autoQueryActivityOnTrigger":"on"}]