Flow.json
[{"id":"6a5e3511.af906c","type":"comment","z":"d893ae3c.acd69","name":"Alexa Init","info":"","x":220,"y":1740,"wires":[]},{"id":"8e850326.976fe","type":"inject","z":"d893ae3c.acd69","name":"4 Ore","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"topic":"A","payload":"refresh","payloadType":"str","x":230,"y":1780,"wires":[["9d0f7f94.44b488"]]},{"id":"bd2d2ec9.0ee088","type":"inject","z":"d893ae3c.acd69","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Started!","payloadType":"str","x":240,"y":1840,"wires":[["e13a9af9.0ca98"]]},{"id":"bc0f1b1f.8c7198","type":"inject","z":"d893ae3c.acd69","name":"5 Minuto","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"A","payload":"true","payloadType":"bool","x":120,"y":1920,"wires":[["12fd6eea.1ec321"]]},{"id":"e13a9af9.0ca98","type":"change","z":"d893ae3c.acd69","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"alexa","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1840,"wires":[["9d0f7f94.44b488","d4b73b6e.b92428"]]},{"id":"d4b73b6e.b92428","type":"function","z":"d893ae3c.acd69","name":"Valorizza","func":"global.set(\"alexa\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1840,"wires":[[]]},{"id":"77a31f7f.0a153","type":"function","z":"d893ae3c.acd69","name":"","func":"//var x=global.get(\"Rain\");\nglobal.set(\"Alexa__\",0); \nif(msg.payload!=true)\n{\n msg.payload=\"refresh\";\n return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1920,"wires":[["9d0f7f94.44b488"]]},{"id":"9d0f7f94.44b488","type":"alexa-remote-init","z":"d893ae3c.acd69","name":"","account":"6651a359.74e1bc","option":"initialise","x":780,"y":1780,"wires":[["6ff9fd8c.3bcce4"]]},{"id":"6ff9fd8c.3bcce4","type":"change","z":"d893ae3c.acd69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.csrf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1780,"wires":[["59860a9.78b2974"]]},{"id":"59860a9.78b2974","type":"function","z":"d893ae3c.acd69","name":"","func":"async function delay(timeMs) {\n  await new Promise(resolve => setTimeout(resolve, timeMs));\n} \nvar newInit = msg.payload;\nvar oldInit = global.get(\"alexa\");\nif (newInit != oldInit)\n{\n global.set(\"alexa\", msg.payload); \n msg.payload=\"refresh\";\n await delay(20000);  \n return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1780,"wires":[["9d0f7f94.44b488"]]},{"id":"fb37ce68.1531d","type":"alexa-remote-other","z":"d893ae3c.acd69","name":"","account":"6651a359.74e1bc","config":{"option":"checkAuthentication"},"x":460,"y":1920,"wires":[["77a31f7f.0a153"]]},{"id":"12fd6eea.1ec321","type":"delay","z":"d893ae3c.acd69","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1920,"wires":[["fb37ce68.1531d"]]},{"id":"6db288c6.e5e418","type":"catch","z":"d893ae3c.acd69","name":"Check Authentication","scope":["fb37ce68.1531d"],"uncaught":false,"x":400,"y":2000,"wires":[["bc81bbf0.ca593"]]},{"id":"bc81bbf0.ca593","type":"delay","z":"d893ae3c.acd69","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":2000,"wires":[["fb37ce68.1531d"]]},{"id":"6381aeb7.d16e98","type":"catch","z":"d893ae3c.acd69","name":"Initialise","scope":["9d0f7f94.44b488"],"uncaught":false,"x":710,"y":1720,"wires":[["e1794af7.49ca"]]},{"id":"e1794af7.49ca","type":"delay","z":"d893ae3c.acd69","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":1720,"wires":[["222c2074.5987d"]]},{"id":"222c2074.5987d","type":"change","z":"d893ae3c.acd69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"refresh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1720,"wires":[["9d0f7f94.44b488"]]},{"id":"6651a359.74e1bc","type":"alexa-remote-account","name":"Andrea","authMethod":"proxy","proxyOwnIp":"192.168.1.230","proxyPort":"3456","cookieFile":"/home/pi/Alexa/cookie.txt","refreshInterval":"3","alexaServiceHost":"alexa.amazon.it","amazonPage":"amazon.it","acceptLanguage":"it-IT","userAgent":"","useWsMqtt":"on","autoInit":"on"}]
